<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div style="padding-top: 50px; padding-bottom: 50px; background-color: rgba(50,68,88,255); width: 100%;">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div>
                    <div>
                        <p class="text-info mb-0 display-6 fw-semibold">Stay informed</p>
                    </div>
                    <div>
                        <p class="text-white">Sign up for our newspaper.</p>
                    </div>
                </div>
                <div>
                    <form>
                        <div class="mb-3">
                            <div class="d-flex row">
                                <div class="col"><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email"></div>
                                <div class="col"><button type="submit" class="btn btn-primary">Subscribe</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="text-light">
            <div class="d-flex row">
                <div class="col">
                    <p class="text-light mb-0">Xchange Private Limited</p>
                    <p class="text-light">Xchange Office</p>
                    <p class="text-info">IIIT, BH3 hostal <br>Sri City, 517646,India</p>
                    <p class="text-light">7247,306,808</p>
                    <p class="text-light">Xchange24@gmail.com</p>
                </div>
                <div class="col">
                    <p class="text-light">Stories</p>
                    <p>text</p>
                    <hr class="text-light">
                    <p class="text-light">Events</p>
                    <p>text</p>
                    <hr class="text-light">
                    <p class="text-light">Where to Give</p>
                    <p>text</p>
                    <hr class="text-light">
                    <p class="text-light">How to give</p>
                    <p>text</p>
                </div>
                <div class="col">
                    <p class="text-info">ABOUT</p>
                    <a href="/about" class="text-decoration-none">
                        <p class="text-light">About Us</p>
                    </a>
                </div>
                <div class="col">
                    <p class="text-info">PRIVACY & SECURITY</p>
                    <a href="#" class="text-decoration-none">
                        <p class="text-light">Pledge to Donors</p>
                    </a>
                    <a href="#" class="text-decoration-none">
                        <p class="text-light">Privacy Policy</p>
                    </a>
                    <a href="#" class="text-decoration-none">
                        <p class="text-light">Social Media policy</p>
                    </a>
                    <a href="#" class="text-decoration-none">
                        <p class="text-light">Copyright Notice</p>
                    </a>
                </div>
            </div>
            <hr class="text-light">
            <div>
                <p class="text-light">© Xchange Private Limited. CIN - U72900DLxxxxxx323936. All Rights Reserved. <br> Registered with Pension Fund Regulatory and Development Authority (PFRDA). <br> Investments in securities markets are subject to market risks, read all the
                    related documents carefully before investing.
                </p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>

</html>