<head>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/output.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<nav>
    <div class="navbar">
        <i class='bx bx-menu'></i>
        <a class="navbar-brand logo" action="/logo" method="POST" href="/home">
            <img src="https://static.vecteezy.com/system/resources/previews/017/785/212/non_2x/money-icon-on-transparent-background-free-png.png"
                class="h-12" alt="" srcset="" alt="XChange">
            <p class="ml-16 -mt-10 font-medium text-2xl flex cursor-pointer">XChange</p>
        </a>
        <div class="nav-links">
            <div class="sidebar-logo">
                <span class="logo-name"> <img
                        src="https://static.vecteezy.com/system/resources/previews/017/785/212/non_2x/money-icon-on-transparent-background-free-png.png"
                        class="h-12" alt="" srcset="" alt="XChange"></span>
                <i class='bx bx-x'></i>
            </div>
            <ul class="links">
                <li><a href="/home">HOME</a></li>
                <!-- <li>
                    <a href="/cal">STOCK</a>
                </li> -->
                <li>
                    <a href="/cal">STOCK</a>
                </li>
                <li>
                    <a style="cursor: pointer;">FEATURES</a>
                    <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
                    <ul class="htmlCss-sub-menu sub-menu">
                        <li><a href="/cal">Stock</a></li>
                        <li><a href="/forex">Foreign Exchange</a></li>
                        <li><a href="/watchlist">Watchlist</a></li>
                        <!-- <li class="more">
                            <span><a href="#">More</a>
                                <i class='bx bxs-chevron-right arrow more-arrow'></i>
                            </span>
                            <ul class="more-sub-menu sub-menu">
                                <li><a href="#">Sub-feature 1</a></li>
                                <li><a href="#">Sub-feature 2</a></li>
                                <li><a href="#">Sub-feature 3</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </li>
                <li>
                    <a href="/pricing">PRICING</a>
                </li>
                <li>
                    <a href="/about">ABOUT US</a>
                </li>
                <li id = "change">
                    <a href="/login" class="login-btn">LOGIN </a>
                </li>
                <!-- <li>
                    <div class="search-box">
                        <i class='bx bx-search'></i>
                        <div class="input-box">
                            <input type="text" placeholder="Search..." class="p-2 border rounded-md">
                        </div>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
<script src="js/navbar.js"></script>