<head>
    <link type="text/css" rel="stylesheet" href="/css/profile.css">
    <script src="https://kit.fontawesome.com/2c07a89d5b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="card">
        <div class="profile-pic">
            <img src="img/profile_himanshu.jpg" alt="Profile Pic">
        </div>

        <div class="details">
            <div class="content">
                <h2>Himanshu S</h2>
                <p class="tag">
                    S20220010082
                </p>
                <p class="about">
                    Himanshu S, skilled in database and server management, brings expertise to our team, ensuring
                    seamless platform operation and data integrity.</p>
            </div>

            <div class="buttons">
                <div class="social">
                    <a href="https://www.linkedin.com/in/himanshu-saraswat-763843258/"><i
                            class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/Himanshu-Saraswat-01122004"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="profile-pic">
            <img src="img/profile_yojith.jpg" alt="Profile Pic">
        </div>

        <div class="details">
            <div class="content">
                <h2>Yojith K</h2>
                <p class="tag">
                    S20220010201
                </p>
                <p class="about">Core member of GDSC and co-lead of the marketing team of IIITS. Expertise in warping
                    words and designs.Well-versed in both
                    front-end and back-end.</p>
            </div>

            <div class="buttons">
                <div class="social">
                    <a href="https://www.linkedin.com/in/yojith-kaustabh-ba0b90256/"><i
                            class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/Nooberd-Incompat"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="profile-pic">
            <img src="img/profile_aditya.jpeg" alt="Profile Pic">
        </div>

        <div class="details">
            <div class="content">
                <h2>Aditya Pal</h2>
                <p class="tag">
                    S20220010006
                </p>
                <p class="about">Aditya Pal, IIIT Sri City BTech student. Crafting platform's REST API with passion,
                    blending academic rigor and real-world innovation.</p>
            </div>

            <div class="buttons">
                <div class="social">
                    <a href="https://www.linkedin.com/in/aditya-pal-71643a250/"><i
                            class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/Palenzo"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="profile-pic">
            <img src="img/profile_priyanshu.jpg" alt="Profile Pic">
        </div>

        <div class="details">
            <div class="content">
                <h2>Priyanshu K</h2>
                <p class="tag">
                    S20220010179
                </p>
                <p class="about">Meet Priyanshu, an avid enthusiast of all things related to the market and web
                    developer. With an insatiable curiosity and a keen eye for trends.
                </p>
            </div>

            <div class="buttons">
                <div class="social">
                    <a href="https://www.linkedin.com/in/priyanshu-kushwah-353580201"><i
                            class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/Garry-01"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="profile-pic">
            <img src="img/profile_ayush.jpg" alt="Profile Pic">
        </div>

        <div class="details">
            <div class="content">
                <h2>Ayush S</h2>
                <p class="tag">
                    S20220010024
                </p>
                <p class="about">Ayush Singhai designs Xchange, prioritizing intuitive interactions and visually
                    appealing user experience.</p>
            </div>

            <div class="buttons">
                <div class="social">
                    <a href="https://www.linkedin.com/in/ayush-singhai-72931b258/"><i
                            class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/ayush31o5"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>