<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="img/logo.svg" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Foreign Exchange</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="css/forex.css">
</head>

<nav>
    <%- include('partials/navbar.ejs') %>
</nav>
<body>
<!-- 
    <Section>
        <img src="img/forex_exchange.jpeg" id="forest">
        <h2 id="text" style="text-align:inherit; vertical-align: middle;">Foreign<br><br>Exchange</h2>
    </Section> -->

    <div class="sec">
        <div id="currency_container" style="text-align: center;">
            <label>From</label>
            <div><select id="from_currency" class="btn btn-light" name="from_currency" style="margin-left: 2%;">
                <!-- Options will be dynamically populated by JavaScript -->
            </select></div>
            <div><label style="margin-left: 5%;">To</label></div>
            <div><select id="to_currency" class="btn btn-light" name="to_currency" style="margin-left: 2%;">
                <!-- Options will be dynamically populated by JavaScript -->
            </select></div>
            <button id="get_data" onclick="getData()" class="btn btn-primary" style="margin-left: 5%;">Get
                Data</button>
        </div>
        <div id="loading_container">
            <h6 style="margin-left: 11%;">Loading data.....</h6>
            <progress></progress>
        </div>
        <button id="download_data" onclick="forex_download()" class="btn btn-success">Download Data(CSV)</button>
        <div id="exchange_chart">
            <div id="exchange" class="mt-4"></div>
            <div id="chartContainer"></div>
        </div>
        <div id="table_container"></div>

        <div class="container mx-auto px-4 py-8">
            <div id="news-container" class="rounded-lg shadow-md p-4">
                <h2 class="mb-4">Related News:</h2>
                <!-- News articles will be dynamically inserted here -->
            </div>
        </div>
        
    </div>
</body>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="js/forex.js"></script>

</html>