<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="img/logo.svg" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchlist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" src="css/style.css">
    <link type="text/css" rel="stylesheet" src="css/watchlist.css">
    <style>
        .container {
            max-width: inherit;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 10px;
            border-radius: 50px;
        }
    </style>
</head>

<body>
    <nav>
        <%- include('partials/navbar.ejs') %>
    </nav>

    <div id="company_container" style="margin-top: 100px;">
        <select id="companies" class="btn btn-light" name="companies">
            <option value="Apple Inc(AAPL)">Apple Inc(AAPL)</option>
            <option value="Microsoft Corp(MSFT)">Microsoft Corp(MSFT)</option>
            <option value="International Business Machine(IBM)">International Business Machine(IBM)</option>
        </select>
        <button id="get_data" onclick="getData()"
            class="bg-blue-600 px-3 py-2 text-l rounded-lg hover:bg-blue-700 text-white font-normal"
            style="margin-left: 5%;">Get Data</button>
    </div>
    <div id="loading_container" style="margin-bottom: 100px;">
        <h6 style="margin-left: 11%;">Loading data.....</h6>
        <progress></progress>
    </div>

    <div style="background-color: aliceblue; padding-top: 10px; padding-bottom: 50px;">
        <div class="container">
            <button id="download_data" onclick="download()" class="btn btn-success">Download Data(CSV)</button>
            <div id="chartAndTableContainer" class="grid-container">
                <div id="chartContainer" class="grid-item"></div>
                <div id="table_container" class="grid-item"></div>
            </div>
        </div>
    </div>
    <div style="padding-top: 50px;">
        <div class="text-center">
            <div class="fs-2 fw-semibold">Checkout the trending stocks</div>
            <div class="fs-4" style="margin-bottom: 10px;">Track your favorite stocks.</div>
            <!-- <div><a href="/watchlist"><button type="button" -->
            <div><a href="#"><button type="button"
                        class="bg-blue-600 px-3 py-2 text-xl rounded-lg hover:bg-blue-700 text-white font-normal ">Dashboard</button></a>
            </div>
        </div>
        <div>
            <img src="img/two_bulls_stonkspng.png" alt="photo" class="img-fluid mx-auto d-block"
                style="height: auto; width: 500px; margin:50px">
        </div>
        <footer>
            <%- include('partials/footer.ejs') %>
        </footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="js/watchlist.js">
</script>

</html>