/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap'); */
:root {
    --primary: #f0f8ff;
}

body {
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* #header .logo {
    color: var(--primary);
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
} */

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: var(--primary);
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: var(--primary);
    color: #fff;
}

#news-container{
    background: #f0f8ff;
}
#exchange h6 {
    margin-bottom: 0.5rem; /* Add space between each item */
    font-size: 1rem; /* Set font size */
    color: #333; /* Set text color */
}

#exchange h6:last-child {
    margin-bottom: 0; /* Remove margin bottom for the last item */
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
}

section img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    opacity: 70%;
}

section #text {
    position: absolute;
    color: black;
    font-size: 10vw;
    line-height: .55em;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-style: normal;
    transform: translatey(-10%);
    /* Adjust the color and blur radius as needed */
}

section #text span {
    font-size: .20em;
    letter-spacing: 2px;
    font-weight: 400;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: var(--primary);
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translatey(100px);
}

.sec {
    position: relative;
    padding: 100px;
    background: white;
}

.sec h2 {
    font-size: 3.5em;
    /* color: #fff; */
    margin-bottom: 10px;
}
.sec h3 {
    font-size: 1.25em;
    /* color: #fff; */
    margin-bottom: 20px;
}

.sec p {
    font-size: 1em;
    /* color: #fff; */
}

#loading_container {
    display: none;
    width: 100%;
    margin-top: 1%;
    margin-left: 45%;
    margin-right: auto;
}

#currency_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

#currency_container label {
    margin-bottom: 10px;
}

#currency_container select {
    margin-bottom: 20px;
}


#exchange_chart {
    display: flex;
    margin-top: 5%;
    vertical-align: auto;
}

#exchange {
    margin-left: 20px;
    width: 40%;
    /* color: white; */
}

#chartContainer {
    display: inline-block;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

#para {
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin-bottom: 1%;
}

#table_container {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
}

#download_data {
    display: none;
    margin-top: 20px;
    margin-left: 42%;
    margin-right: auto;
}