* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    padding-top: 70px;
    /* Adjust based on your header height */
}

header {
    background: #333;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.3s;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding-top: 100px;
    /* Assuming the height of your header is 100px */
    padding-bottom: 150px;
    /* Adjust based on footer height */
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    bottom: 0;
}